## <summary>Dummy interface</summary>

########################################
## <summary>
##	Placeholder interface.
## </summary>
#
interface(`placeholder_interface',`
')
