policy_module(files,1.0)
type f_var_t_t;
type f_var_spool_t_t;
type f_var_run_t_t;
type f_var_lock_t_t;
type f_var_lib_t_t;
type f_usr_t_t;
type f_usercanread_t;
type f_tmpfsfile_t;
type f_tmpfile_t;
type f_tmp_t_t;
type f_system_map_t_t;
type f_src_t_t;
type f_snmpd_etc_t_t;
type f_security_file_type_t;
type f_root_t_t;
type f_readable_t_t;
type f_polyparent_t;
type f_polymember_t;
type f_polydir_t;
type f_poly_t_t;
type f_pidfile_t;
type f_no_access_t_t;
type f_mountpoint_t;
type f_modules_object_t_t;
type f_mnt_t_t;
type f_lost_found_t_t;
type f_lockfile_t;
type f_home_root_t_t;
type f_firstboot_rw_t_t;
type f_files_unconfined_type_t;
type f_file_type_t;
type f_file_t_t;
type f_etc_t_t;
type f_etc_runtime_t_t;
type f_default_t_t;
type f_boot_t_t;
type f_automount_etc_t_t;
allow f_tmpfile_t f_tmp_t_t:file associate;
allow f_files_unconfined_type_t f_file_type_t:process execmod;
