## <summary>The module a</summary>

########################################
## <summary>
##	Interface referencing the implementation
## </summary>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
interface(`a_a',`
        gen_require(`
          type a_file_t;
        ')
        allow $1 a_file_t:file read;
')

########################################
## <summary>
##	Template referencing the implementation
## </summary>
## <param name="domain_prefix">
##	<summary>
##	N/A
##	</summary>
## </param>
#
template(`a_b',`
        gen_require(`
          type a_file_t;
        ')
        type $1_a_b_t;
        allow $1_a_b_t a_file_t:file write;
')

########################################
## <summary>
##	Template not referencing anything
## </summary>
## <param name="domain_prefix">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
template(`a_c',`
        type $1_a_c_t;
        type $1_a_c_file_t;
        allow $1_a_c_t $1_a_c_file_t:file read;
        allow $2 $1_a_c_file_t:file ioctl;
')

########################################
## <summary>
##	Interface referencing a template
## </summary>
## <param name="domain_prefix">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
interface(`a_d',`
        gen_require(`
          type $1_a_c_t;
        ')
        allow $2 $1_a_c_t:process signal;
')

########################################
## <summary>
##	Interface referencing a template and the implementation
## </summary>
## <param name="domain_prefix">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
interface(`a_e',`
        gen_require(`
          type $1_a_b_t;
          type a_file_t;
        ')
        allow $2 $1_a_b_t:process signal;
        allow $2 a_file_t:file read;
')

########################################
## <summary>
##	interface referencing two templates, making connections between them 
##      - not sure if this occurs in real life
## </summary>
## <param name="domain_prefix_b">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain_prefix_c">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
interface(`a_f',`
        gen_require(`
          type $1_a_b_t;
          type $2_a_c_file_t;
        ')
        allow $1_a_b_t $2_a_c_file_t:file write;
        allow $3 $2_a_c_file_t:file getattr;
')

########################################
## <summary>
##	Template calling other templates and interfaces
## </summary>
## <param name="domain_prefix">
##	<summary>
##	N/A
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	N/A
##	</summary>
## </param>
#
template(`a_g',`
        a_b($1_a_g_a)
        a_c($1_a_g_b,$2)
        a_d($1_a_g_b,$2)
        a_f($1_a_g_a,$1_a_g_b,$2)
')

